@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

html, body {margin: 0; height: 100%; overflow: hidden}
.e58_13 { 
	
}
.e58_13 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:100%;
	height:100%;
	overflow: hidden;
	position:absolute;
}
.e58_119 { 
	background-color:rgba(255, 243.00000071525574, 236.00000113248825, 1);
	width:1142px;
	height:54px;
	position:relative;
	left:201px;
	top:238px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e58_119 { 
	border:2px solid rgba(252.00000017881393, 104.00000140070915, 17.00000088661909, 1);
}
.e58_120 { 
	width:1112px;
	height:24px;
	position:absolute;
	left:15px;
	top:15px;
}
.e58_121 { 
	width:585px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_122 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_123 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
}
.e58_124 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:545px;
	height:19px;
	position:absolute;
	left:40px;
	top:2.5px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e58_125 { 
	cursor:pointer;
	width:24px;
	height:24px;
	position:absolute;
	left:1088px;
	top:0px;
}
.e58_126 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:5px;
}
.e58_15 { 
	overflow: scroll;
	width:100%;
	height:629px;
	position:relative;
	left:201px;
	top:280px;
}
.e58_16 { 
	width:1145px;
	height:291px;
	position:absolute;
	left:0px;
	top:338px;
}
.e58_17 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:31px;
	position:absolute;
	left:353px;
	top:43px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e58_18 { 
	border:2px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_18 { 
	width:1145px;
	height:291px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e58_160 { 
	width:96px;
	height:22px;
	position:absolute;
	left:348px;
	top:89px;
}
.e58_19 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_20 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_21 { 
	background-color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:19.165206909179688px;
	height:15.99354076385498px;
	position:absolute;
	left:1.918125033378601px;
	top:3.006666660308838px;
}
.e58_27 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:67px;
	height:16px;
	position:absolute;
	left:29px;
	top:3px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_161 { 
	width:80px;
	height:22px;
	position:absolute;
	left:466px;
	top:89px;
}
.e58_22 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_23 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_24 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_25 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.666666984558105px;
	height:18.33333396911621px;
	position:absolute;
	left:3.6666667461395264px;
	top:1.8104166984558105px;
}
.e58_28 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:26px;
	top:3px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_29 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:1030px;
	top:70px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_30 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:75px;
	height:16px;
	position:absolute;
	left:151px;
	top:258px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_31 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:68px;
	height:19px;
	position:absolute;
	left:151px;
	top:240px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e58_32 { 
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:80px;
	height:16px;
	position:absolute;
	left:897px;
	top:247px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_33 { 
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:32px;
	height:16px;
	position:absolute;
	left:1047px;
	top:247px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_34 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:127px;
	height:30px;
	position:absolute;
	left:1005px;
	top:86px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e58_162 { 
	width:75px;
	height:16px;
	position:absolute;
	left:352px;
	top:120px;
}
.e58_26 { 
	background-color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:20px;
	height:12px;
	position:absolute;
	left:0px;
	top:2px;
}
.e58_35 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:25px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_36 { 
	width:168px;
	height:43px;
	position:absolute;
	left:959px;
	top:162px;
}
.e58_37 { 
	background-color:rgba(96.00000187754631, 173.00000488758087, 94.0000019967556, 1);
	width:168px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e58_38 { 
	color:rgba(255, 255, 255, 1);
	width:119.63636016845703px;
	height:21.706951141357422px;
	position:absolute;
	left:22.909090042114258px;
	top:10.853515625px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e58_39 { 
	width:32px;
	height:32px;
	position:absolute;
	left:109px;
	top:240px;
}
.e58_40 { 
	background-color:rgba(96.00000187754631, 173.00000488758087, 94.0000019967556, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e58_41 { 
	color:rgba(255, 255, 255, 1);
	width:22.787878036499023px;
	height:16.154010772705078px;
	position:absolute;
	left:5px;
	top:8px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e58_42 { 
	transform: rotate(0.000005008956130975318deg);
	width:1110px;
	height:0px;
	position:absolute;
	left:17px;
	top:218px;
}
.e58_42 { 
	border:1px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_43 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1017px;
	top:244px;
}
.e58_44 { 
	background-color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:2px;
	top:4px;
}
.e58_45 { 
	width:24px;
	height:24px;
	position:absolute;
	left:867px;
	top:244px;
}
.e58_46 { 
	background-color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e58_47 { 
	width:279px;
	height:157px;
	position:absolute;
	left:31px;
	top:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_48 { 
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.25);
	width:68px;
	height:32px;
	position:absolute;
	left:31px;
	top:240px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/screenshot_2022_10_21_at_10_50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_49 { 
	width:1145px;
	height:291px;
	position:relative;
	left:0px;
	top:0px;
	padding-top: 50;
}
.e58_50 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	height:31px;
	position:absolute;
	left:353px;
	top:43px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e58_51 { 
	border:2px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_51 { 
	width:1145px;
	height:291px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e58_157 { 
	width:105px;
	height:22px;
	position:absolute;
	left:348px;
	top:89px;
}
.e58_52 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_53 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_54 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:19.165206909179688px;
	height:15.99354076385498px;
	position:absolute;
	left:1.918125033378601px;
}
.e58_60 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:29px;
	top:3px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	padding-left: 5px;
}
.e58_158 { 
	width:80px;
	height:22px;
	position:absolute;
	left:466px;
	top:89px;
}
.e58_55 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_56 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_57 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_58 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:14.666666984558105px;
	height:18.33333396911621px;
	position:absolute;
	left:3.6666667461395264px;
}
.e58_61 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:26px;
	top:3px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	padding-left: 5px;
}
.e58_62 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:1030px;
	top:70px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_63 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:75px;
	height:16px;
	position:absolute;
	left:151px;
	top:258px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_64 { 
	font-weight: 500;
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:68px;
	height:19px;
	position:absolute;
	left:151px;
	top:240px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e58_65 { 
	font-weight: 500;
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:80px;
	height:16px;
	position:absolute;
	left:897px;
	top:247px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_66 { 
	font-weight: 500;
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:32px;
	height:16px;
	position:absolute;
	left:1047px;
	top:247px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e58_67 { 
	font-weight: 600;
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:127px;
	height:30px;
	position:absolute;
	left:1005px;
	top:86px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e58_159 { 
	width:75px;
	height:16px;
	position:absolute;
	left:352px;
	top:120px;
}
.e58_59 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:20px;
	height:12px;
	position:absolute;
	left:0px;
}
.e58_68 { 
	color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:25px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	padding-left: 5px;
}
.e58_69 { 
	background-color: #60ad5e;
	border-radius: 5px;
	cursor:pointer;
	width:168px;
	height:43px;
	position:absolute;
	left:959px;
	top:162px;
	transition: all 500ms ease;
}
.e58_69:hover{
	background-color: #2e7d32;
}

.e58_70 { 
	width:168px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}



.e58_71 { 
	font-weight: 600;
	color:rgba(255, 255, 255, 1);
	width:119.63636016845703px;
	height:21.706951141357422px;
	position:absolute;
	left:22.909090042114258px;
	top:10.853515625px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e58_72 { 
	width:32px;
	height:32px;
	position:absolute;
	left:109px;
	top:240px;
}
.e58_73 { 
	background-color:rgba(96.00000187754631, 173.00000488758087, 94.0000019967556, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e58_74 { 
	color:rgba(255, 255, 255, 1);
	width:22.787878036499023px;
	height:16.154010772705078px;
	position:absolute;
	left:5px;
	top:8px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e58_75 { 
	transform: rotate(0.000005008956130975318deg);
	width:1110px;
	height:0px;
	position:absolute;
	left:17px;
	top:218px;
}
.e58_75 { 
	border:1px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_76 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1017px;
	top:244px;
}
.e58_77 { 
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:2px;
}
.e58_78 { 
	width:24px;
	height:24px;
	position:absolute;
	left:867px;
	top:244px;
}
.e58_79 { 
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
}
.e58_80 { 
	width:279px;
	height:157px;
	position:absolute;
	left:31px;
	top:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_81 { 
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.25);
	width:68px;
	height:32px;
	position:absolute;
	left:31px;
	top:240px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/screenshot_2022_10_21_at_10_50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_89 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	height:33px;
	position:absolute;
	left:201px;
	top:187px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e58_90 { 
	width:1145px;
	height:83px;
	position:absolute;
	left:201px;
	top:86px;
}
.e58_91 { 
	background-color:rgba(0, 0, 0, 0);
	width:1145px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e58_91 { 
	border:3px solid rgba(0, 80.00000283122063, 5.000000176951289, 1);
}
.e58_92 { 
	background-color: #60ad5e;
	border-radius: 5px;
	transition: all 500ms ease;
	cursor:pointer;

	width:66px;
	height:43px;
	position:absolute;
	left:1062px;
	top:17px;
}

.e58_92:hover{
	background-color: #2e7d32;
}

.e58_93 { 
	width:66px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_94 { 
	font-weight: 600;
	color:rgba(255, 255, 255, 1);
	width:47px;
	height:21.706951141357422px;
	position:absolute;
	left:9px;
	top:10.853485107421875px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e58_95 { 
	width:143px;
	height:50px;
	position:absolute;
	left:21px;
	top:16px;
}
.e58_96 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_97 { 
	color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:79px;
	height:25px;
	position:absolute;
	left:0px;
	top:25px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_98 { 
	transform: rotate(89.99999749552173deg);
	width:49px;
	height:0px;
	position:absolute;
	left:143px;
	top:25px;
}
.e58_98 { 
	border:3px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
	background-color: rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_99 { 
	width:121px;
	height:50px;
	position:absolute;
	left:212px;
	top:16px;
}
.e58_100 { 
	transform: rotate(89.99999749552173deg);
	width:49px;
	height:0px;
	position:absolute;
	left:121px;
	top:25px;
}
.e58_100 { 
	border:3px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
	background-color: rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_101 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_102 { 
	color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:89px;
	height:25px;
	position:absolute;
	left:0px;
	top:25px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_103 { 
	width:121px;
	height:50px;
	position:absolute;
	left:381px;
	top:16px;
}
.e58_104 { 
	transform: rotate(89.99999749552173deg);
	width:49px;
	height:0px;
	position:absolute;
	left:121px;
	top:25px;
}
.e58_104 { 
	border:3px solid rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
	background-color: rgba(188.0000039935112, 188.0000039935112, 188.0000039935112, 1);
}
.e58_105 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_106 { 
	color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:89px;
	height:25px;
	position:absolute;
	left:0px;
	top:25px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_107 { 
	width:198px;
	height:50px;
	position:absolute;
	left:550px;
	top:16px;
}
.e58_108 { 
	font-weight: 600;
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_109 { 
	color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:106px;
	height:25px;
	position:absolute;
	left:0px;
	top:25px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e58_110 { 
	width:1440px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_111 { 
	background-color:rgba(96.00000187754631, 173.00000488758087, 94.0000019967556, 1);
	width:1440px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.e58_112 { 
	font-weight: 700;
	color:rgba(255, 255, 255, 1);
	width:132px;
	height:31px;
	position:absolute;
	left:157px;
	top:20px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e58_113 { 
	width:64px;
	height:24px;
	position:absolute;
	left:1119px;
	top:20px;
}
.e58_114 { 
	color:rgba(255, 255, 255, 1);
	width:21px;
	height:20px;
	position:absolute;
	left:0px;
	top:3px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e58_115 { 
	width:24px;
	height:24px;
	position:absolute;
	left:40px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e58_116 { 
	cursor: pointer;
	width:80px;
	height:37px;
	position:absolute;
	left:1205px;
	top:14px;
}
.e58_117 { 
	
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e58_118 { 
	font-weight: 600;
	color:rgba(0, 80.00000283122063, 5.000000176951289, 1);
	width:44px;
	height:18px;
	position:absolute;
	left:18px;
	top:9px;
	font-family: 'Avenir Next', sans-serif !important;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
