<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            scroll-behavior: smooth;
        }

        body,
        html {
            touch-action: auto
        }

        .jfCardForm .jfProgress {
            bottom: 20px !important;
        }

        .jfCardForm .jfForm-backgroundOverlay,
        .jfCardForm .jfForm-backgroundUnderlay {
            height: 100%;
        }
    </style>
    <meta name="robots" content="noindex,follow">
    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F21123284233442"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F21123284233442"
        title="oEmbed Form">
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
    <style type="text/css">
        @media print {
            .form-section {
                display: inline !important
            }

            .form-pagebreak {
                display: none !important
            }

            .form-section-closed {
                height: auto !important
            }

            .page-section {
                position: initial !important
            }
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename= '5e6b428acc8c4e222d1beb91.css') }}">
    <link type="text/css" rel="stylesheet" href="./payment_styles.css">
    <link type="text/css" rel="stylesheet" href="./payment_feature.css">
    <style type="text/css" id="tempThumbnail">
        @media only screen and (max-width: 800px) {

            body,
            .supernova {
                background-color: #fff !important;
            }

            .form-all {
                box-shadow: none !important
            }
        }
    </style>
    <style>
        html {
            -webkit-overflow-scrolling: touch;
            overflow: scroll;
        }

        body {
            height: 100%;
            overflow: scroll;
        }
    </style>
    <script src="./prototype.js"></script>
    <script src="./json2.js"></script>
    <script src="./protoplus.js"></script>
    <script src="./protoplus-ui-form.js"></script>
    <script src="./jotform.js"></script>
    <script src="./calendarview.js"></script>


  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="AFRsEtZN5MINgoKVUNig-AHayYC86rqIOARWtiC09wY" name="google-site-verification" />
    <title>Website Questionnaire Form Template | Jotform</title>
    <meta content="index,follow" name="robots" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        name="description" />
    <meta content="website survey questionnaire,ecommerce survey form,website survey form,ecommerce questionnaire"
        name="keywords" />
    <meta content="en_us" property="og:locale" />
    <meta content="Website Questionnaire Form Template | Jotform" property="og:title" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        property="og:description" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        property="og:image" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        property="og:image:secure_url" />
    <meta content="Jotform" property="og:site_name" />
    <meta content="https://www.jotform.com/form-templates/website-survey-questionnaire-form" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="@jotform" name="twitter:site" />
    <meta content="https://www.jotform.com/form-templates/website-survey-questionnaire-form" name="twitter:url" />
    <meta content="Website Questionnaire Form Template | Jotform" name="twitter:title" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        name="twitter:image" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="@jotform" name="twitter:creator" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        name="twitter:description" />
    <meta content="true" name="jotform:localization" />
    <link crossorigin=""
        href="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        rel="image_src" />
    <link crossorigin="" href="https://www.jotform.com/form-templates/website-survey-questionnaire-form"
        rel="canonical" />
    <link crossorigin="" href="https://www.google-analytics.com/" rel="preconnect" />
    <link crossorigin="" href="https://cms.jotform.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.gravatar.com/" rel="preconnect" />
    <link crossorigin="" href="https://use.typekit.net/" rel="preconnect" />
    <link crossorigin="" href="https://s3.amazonaws.com/jotformAvatars" rel="preconnect" />
    <link crossorigin="" href="https://files.jotform.com/" rel="preconnect" />
    <link crossorigin="" href="https://cdn.jotfor.ms/" rel="preconnect" />
    <link crossorigin="" href="https://cdn01.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdn02.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdn03.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://i0.wp.com/" rel="preconnect" />
    <link crossorigin="" href="https://connect.facebook.net/" rel="preconnect" />
    <link crossorigin="" href="https://stats.g.doubleclick.net/" rel="preconnect" />
    <link crossorigin="" href="https://polyfill.io/" rel="preconnect" />
    <link crossorigin="" href="https://browser.sentry-cdn.com/" rel="preconnect" />
    <link crossorigin="" href="https://apis.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.facebook.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://accounts.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://p.typekit.net/" rel="preconnect" />
    <link crossorigin="" href="https://events.jotform.com/" rel="preconnect" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Book.woff2"
        importance="low" rel="preload" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Medium.woff2"
        importance="low" rel="preload" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Bold.woff2"
        importance="low" rel="preload" />
    <link href="{{ url_for('static', filename= 'site-logical.css') }}" rel="stylesheet"
        type="text/css" />

    <meta
        content="A751Xsk4ZW3DVQ8WZng2Dk5s3YzAyqncTzgv+VaE6wavgTY0QHkDvUTET1o7HanhuJO8lgv1Vvc88Ij78W1FIAAAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"
        http-equiv="origin-trial" />


    <link href="./Website Questionnaire Form Template _ Jotform_files/style" id="googleidentityservice" media="all"
        rel="stylesheet" type="text/css" />
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Avenir+Next&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename= 'script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesIndex.css') }}">
  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #60AD5E;
    }
  </style>

</head>

<body>
  <div aria-label="Website Questionnaire Form"
        class="modal template-detail fixed top-0 left-0 lg:py-5 overflow-hidden w-full h-full bg-navy-700 bg-opacity-70"
        data-container="form-modal" data-form-id="21123284233442"
        >
        <button aria-label="Close"
            onclick="closeForm()"
            class="close-wp locale-data-aria-label absolute color-gray-100 lg:color-white text-xs opacity-70 hover:opacity-100 duration-300 right-4 top-3 lg:top-2 z-7"
            tabindex="0">
            <div class="close-icon w-7 sm:w-11 h-7 sm:h-11"><svg class="w-full h-full" fill="none" viewbox="0 0 24 24">
                    <path d="M17.25 6.75L6.75 17.25" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M6.75 6.75L17.25 17.25" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                </svg></div>
            <p class="-mt-1 hidden lg:block">ESC</p>
        </button>
        <div class="modal-wrapper max-w-lg mx-auto lg:px-24 h-full">
            <div class="template-detail-wrapper h-full relative">
                <div class="bg-white overflow-y-auto overflow-x-visible max-h-full h-full lg:h-auto radius h-full">
                    <div class="outline-area h-auto" id="outlineArea">
                        <div class="modal-content w-full h-full min-h-sm pb-24 lg:pb-0">
                            <div class="modal-template-area relative">
                                <div class="template-loader" style="display: none;">
                                    <div class="template-loader-item"></div>
                                    <div class="template-loader-item"></div>
                                    <div class="template-loader-item"></div>
                                </div>
                                <div class="w-full h-full min-h-sm"
                                    id="formPreviewArea" style="height: 100%;" tabindex="-1" type="text/html"
                                    width="100%">
                                  <form class="jotform-form" action="/questionaire" method="POST">
                                    <div role="main" class="form-all" style="margin:0 auto;">
                                        
                                        <ul class="form-section page-section">
                                            <li id="cid_1" class="form-input-wide" data-type="control_head">
                                                <div class="form-header-group header-large">
                                                    <div class="header-text httal htvam">
                                                        <h1 id="header_1" class="form-header" data-component="header">Let's help you find the
                                                            optimal neighbourhood!
                                                        </h1>
                                                        <div id="subHeader_1" class="form-subHeader">Fill in this quick 2 minute survey to
                                                            automatically find the parameters that shape the ideal neighbourhood for you.
                                                            Alternatively, exit the survey and manually enter the ranking per section.</div>
                                                    </div>
                                                </div>
                                            </li>

                                            

                                            <li class="form-line" data-type="control_radio" id="id_6">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_6" for="input_6">
                                                    1. Do you have (or want to have) children currently at high/middle school?
                                                </label>
                                                <div id="cid_6" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_6" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_0" name="q1" value="Yes">
                                                        <label id="label_input_6_0" for="input_6_0"> Yes</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_1" name="q1" value="No">
                                                        <label id="label_input_6_1" for="input_6_1"> No </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_7">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_7" for="input_7">
                                                    2. Do you aspire your children to go to a top university?
                                                </label>
                                                <div id="cid_7" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_7" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_0" name="q2" value="Yes">
                                                        <label id="label_input_7_0" for="input_7_0"> Yes</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_1" name="q2" value="No">
                                                        <label id="label_input_7_1" for="input_7_1"> No </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_7" class="form-radio" id="input_7_2" name="q2" value="N/A">
                                                        <label id="label_input_7_2" for="input_7_2"> N/A </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_8">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_8" for="input_8">
                                                    3. On a scale of 1-5, how much do you worry for your children education?
                                                </label>
                                                <div id="cid_8" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_8" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_0" name="q3" value="1">
                                                        <label id="label_input_8_0" for="input_8_0"> 1</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_1" name="q3" value="2">
                                                        <label id="label_input_8_1" for="input_8_1"> 2 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_2" name="q3" value="3">
                                                        <label id="label_input_8_2" for="input_8_2"> 3 </label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_3" name="q3" value="4">
                                                        <label id="label_input_8_3" for="input_8_3"> 4 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_4" name="q3" value="5">
                                                        <label id="label_input_8_4" for="input_8_4"> 5 </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_9">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_9" for="input_9">
                                                    4. Would you like your children to participate in high school sports?
                                                </label>
                                                <div id="cid_9" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_9" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_0" name="q4" value="Yes">
                                                        <label id="label_input_9_0" for="input_9_0"> Yes</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_1" name="q4" value="No">
                                                        <label id="label_input_9_1" for="input_9_1"> No </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_2" name="q4" value="N/A">
                                                        <label id="label_input_9_2" for="input_9_2"> N/A </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_10">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_10" for="input_10">
                                                    5. On a scale of 1 to 5, how much do you value your children's high-school college admission rate?
                                                </label>
                                                <div id="cid_10" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_10" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_10" class="form-radio" id="input_10_0" name="q5" value="1">
                                                        <label id="label_input_10_0" for="input_10_0"> 1</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_10" class="form-radio" id="input_10_1" name="q5" value="2">
                                                        <label id="label_input_10_1" for="input_10_1"> 2 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_10" class="form-radio" id="input_10_2" name="q5" value="3">
                                                        <label id="label_input_10_2" for="input_10_2"> 3 </label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_10" class="form-radio" id="input_10_3" name="q5" value="4">
                                                        <label id="label_input_10_3" for="input_10_3"> 4 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_10" class="form-radio" id="input_10_4" name="q5" value="5">
                                                        <label id="label_input_10_4" for="input_10_4"> 5 </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_11">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_11" for="input_11">
                                                    6. From 1 to 5, how preocupied are you with crime levels?
                                                </label>
                                                <div id="cid_11" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_11" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_11" class="form-radio" id="input_11_0" name="q6" value="1">
                                                        <label id="label_input_11_0" for="input_11_0"> 1</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_11" class="form-radio" id="input_11_1" name="q6" value="2">
                                                        <label id="label_input_11_1" for="input_11_1"> 2 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_11" class="form-radio" id="input_11_2" name="q6" value="3">
                                                        <label id="label_input_11_2" for="input_11_2"> 3 </label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_11" class="form-radio" id="input_11_3" name="q6" value="4">
                                                        <label id="label_input_11_3" for="input_11_3"> 4 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_11" class="form-radio" id="input_11_4" name="q6" value="5">
                                                        <label id="label_input_11_4" for="input_11_4"> 5 </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_12">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_12" for="input_12">
                                                    7. From 1 to 5 how scared do you get when walking through dark streets or parks?
                                                </label>
                                                <div id="cid_12" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_12" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_0" name="q7" value="1">
                                                        <label id="label_input_12_0" for="input_12_0"> 1</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_1" name="q7" value="2">
                                                        <label id="label_input_12_1" for="input_12_1"> 2 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_2" name="q7" value="3">
                                                        <label id="label_input_12_2" for="input_12_2"> 3 </label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_3" name="q7" value="4">
                                                        <label id="label_input_12_3" for="input_12_3"> 4 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_12" class="form-radio" id="input_12_4" name="q7" value="5">
                                                        <label id="label_input_12_4" for="input_12_4"> 5 </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_13">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_13" for="input_13">
                                                    8. Do you often enjoy going for night/dawn outdoor activities?
                                                </label>
                                                <div id="cid_13" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_13" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_13" class="form-radio" id="input_13_0" name="q8" value="Yes">
                                                        <label id="label_input_13_0" for="input_13_0"> Yes</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_13" class="form-radio" id="input_13_1" name="q8" value="No">
                                                        <label id="label_input_13_1" for="input_13_1"> No </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_14">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_14" for="input_14">
                                                    9. Would you feel comfortable allowing your child to walk alone at night in a not-so-safe neighborhood?
                                                </label>
                                                <div id="cid_14" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_14" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_14" class="form-radio" id="input_14_0" name="q9" value="Yes">
                                                        <label id="label_input_14_0" for="input_14_0"> Yes</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_14" class="form-radio" id="input_14_1" name="q9" value="No">
                                                        <label id="label_input_14_1" for="input_14_1"> No </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_14" class="form-radio" id="input_14_2" name="q9" value="N/A">
                                                        <label id="label_input_14_2" for="input_14_2"> N/A </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_radio" id="id_15">
                                                <label
                                                    class="form-label form-label-top form-label-auto" id="label_15" for="input_15">
                                                    10. From 1 to 5, how often do you wear expensive jewelry/outfits?
                                                </label>
                                                <div id="cid_15" class="form-input-wide" data-layout="full">
                                                    <div class="form-single-column" role="group" aria-labelledby="label_15" data-component="radio">
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_15" class="form-radio" id="input_15_0" name="q10" value="1">
                                                        <label id="label_input_15_0" for="input_15_0"> 1</label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_15" class="form-radio" id="input_15_1" name="q10" value="2">
                                                        <label id="label_input_15_1" for="input_15_1"> 2 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_15" class="form-radio" id="input_15_2" name="q10" value="3">
                                                        <label id="label_input_15_2" for="input_15_2"> 3 </label></span>
                                                        
                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_15" class="form-radio" id="input_15_3" name="q10" value="4">
                                                        <label id="label_input_15_3" for="input_15_3"> 4 </label></span>

                                                        <span class="form-radio-item" style="clear:left"><span class="dragger-item"></span>
                                                        <input type="radio" aria-describedby="label_15" class="form-radio" id="input_15_4" name="q10" value="5">
                                                        <label id="label_input_15_4" for="input_15_4"> 5 </label></span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="form-line" data-type="control_dropdown" id="id_16">
                                                <label 
                                                    class="form-label form-label-top form-label-auto"id="label_16" for="input_16">
                                                    11. What is your budget?
                                                </label>
                                                <div id="cid_16" class="form-input-wide" data-layout="half">
                                                    <select class="form-dropdown" id="input_16" name="q11" style="width:310px" data-component="dropdown" data-form-type="">
                                                        <option value=""> Please Select </option>
                                                        <option value="400,000-700,000"> $400,000-700,000 </option>
                                                        <option value="700,000-900,000"> $700,000-900,000 </option>
                                                        <option value="900,000-1,200,000"> $900,000-1,200,000 </option>
                                                        <option value="1,200,000-1,500,000"> $1,200,000-1,500,000 </option>
                                                        <option value="1,500,000-1,800,000"> $1,500,000-1,800,000 </option>
                                                        <option value="1,800,000-2,800,000"> $1,800,000-2,800,000 </option>
                                                        <option value="2,800,000+"> $2,800,000+</option>
                                                    </select>
                                                </div>
                                            </li>
                                            
                                            
                                            <li class="form-line" data-type="control_button" id="id_34">
                                              <div id="cid_34" class="form-input-wide" data-layout="full">
                                                <div data-align="auto"
                                                    class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                                                    <button
                                                        
                                                        id="input_34"
                                                        class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                                                        data-component="button" data-content="">Submit</button></div>
                                              </div>
                                            </li>
                                        </ul>
                                    </div>
                                  
                                  </form>
                              </div>
                                
                            </div>
                            <div
                                class="cta-controls sticky lg:static left-0 right-0 bottom-0 bg-white border-t border-t-navy-50 py-1 lg:py-0 lg:border-t-0 flex justify-center -mb-24 lg:mb-0 z-1">
                                <button
                                    class="cta-usetemplate lg:hidden w-full min-w-44 max-w-68 bg-green-400 color-white h-12 hover:bg-green-300 duration-300 mx-1 px-4 radius"
                                    data-action-target="FormModalView" data-template="21123284233442"
                                    data-trigger="use-form-template">Use
                                    Template</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer block lg:hidden px-4 pb-4 text-sm"><a class="back-link flex gap-2"
                            href="https://www.jotform.com/form-templates/category/questionnaire"
                            title="Questionnaire Templates"><svg height="16px" version="1.1" viewbox="0 0 16 16"
                                width="16px" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                    <g transform="translate(-8.000000, -2012.000000)">
                                        <circle cx="16" cy="2020" fill="#CFD8DC" r="8"></circle>
                                        <path
                                            d="M17.7071068,2022.29289 C18.0976311,2022.68342 18.0976311,2023.31658 17.7071068,2023.70711 C17.3165825,2024.09763 16.6834175,2024.09763 16.2928932,2023.70711 L13.2928932,2020.70711 C12.9023689,2020.31658 12.9023689,2019.68342 13.2928932,2019.29289 L16.2928932,2016.29289 C16.6834175,2015.90237 17.3165825,2015.90237 17.7071068,2016.29289 C18.0976311,2016.68342 18.0976311,2017.31658 17.7071068,2017.70711 L15.4142136,2020 L17.7071068,2022.29289 Z"
                                            fill="#08224C" fill-rule="nonzero"></path>
                                    </g>
                                </g>
                            </svg><span>Questionnaire Templates</span></a></div>
                </div>
            </div>
        </div>
    </div>
  <div class=e34_31>
    <div class=e34_42>
      <div class=e34_43>
        <div class="e34_44"></div>
        <div class="e34_45"></div>
      </div>
      <div class=e34_168>
        <div class=e34_73>
          <div class=e34_74>
            <div class="e34_75"></div>
            <span class="material-symbols-outlined">
              search
              </span>
          </div>
          <div class="autocomplete" style="width:300px;">

          </div>
          <span class="e34_77">
            <input class="selected-value custom-input" placeholder="Desired State" type="text" id="myInput" name="myCountry">
            <br><br>
          </span>
        </div>

        
        <div class=e34_66>
          <select name="" class="dropdown-select" onchange="myFunction('e34_66')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_67>
            <div class="e34_68"></div>
            <span class="material-symbols-outlined">
              school
              </span>
          </div>
          
          <div class=e34_70>
            
            <span class="selected-value e34_71">A+</span>
            <span class="e34_72">Education</span>
            
          </div>
          
        </div>
        <div class=e34_58>
          <select name="" class="dropdown-select" onchange="myFunction('e34_58')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_59>
            <div class="e34_60"></div>
            <div class=e34_61>
              <span class="material-symbols-outlined">
                health_and_safety
                </span>
            </div>
          </div>
          <div class=e34_63>
            <span class="selected-value e34_64">A+</span>
            <span class="e34_65">Safety</span>
          </div>
        </div>
        <div class=e34_50>
          <select name="" class="dropdown-select" onchange="myFunction('e34_50')">
            <option value="400,000-500,000">$400,000-700,000</option>
            <option value="700,000-900,000">$700,000-900,000</option>
            <option value="900,000-1,200,000">$900,000-1,200,000</option>
            <option value="1,200,000-1,500,000">$1,200,000-1,500,000</option>
            <option value="1,500,000-1,800,000">$1,500,000-1,800,000</option>
            <option value="1,800,000-2,800,000">$1,800,000-2,800,000</option>
            <option value="2,800,000+">$2,800,000+</option>
          </select>
          <div class=e34_51>
            <div class="e34_52"></div>
            <div class=e34_53>
              <span class="material-symbols-outlined">
                payments
                </span>
            </div>
          </div>
          <div class=e34_55>
            <span class="selected-value e34_56">$400,000-700,000</span>
            <span class="e34_57">Price Range</span>
          </div>
        </div>
        <div onclick="searchBtn()" class=e34_48><span class="e34_49">Search</span></div>
      </div>
      <div class=e34_78><span class="e34_79">67+ neighboorhoods</span><span class="e34_80">Most accurate
          algorithm</span><span class="e34_81">125+ real estate agents</span>
          <span class="material-symbols-outlined bubble">
            done
            </span>
        <div class="e34_83"><span class="material-symbols-outlined bubble">
          group
          </span></div>
        
        <div class=e34_84>
          <span class="material-symbols-outlined bubble">
            bubble_chart
            </span>
        </div>
      </div><span class="e34_89">Neighbourhood Finder - Find, Compare & Sign</span>
      <div class=e34_90><span class="e34_91">LaCasa.com</span>
        <div class=e34_92><span class="e34_93">EN</span>
          <div class="e34_94"></div>
        </div>
        <div class=e34_95><span class="e34_97">Sign-in</span></div>
      </div>
    </div>
    <div class=e34_32>
      <div class="e34_33"></div>
      <div class=e34_34>
        <div class="e34_35"></div>
        <div class="e34_36"></div>
        <div class="e34_37"></div>
        <div class="e34_38"></div>
        <div class="e34_39"></div>
        <div class="e34_40"></div>
      </div><span class="e34_41">Connecting you to the best real estate agencies</span>
    </div>
  </div>
  <script>
    var states = ["Los Angeles, CA", ];
    autocomplete(document.getElementById("myInput"), states);
    </script>
    <script type="text/javascript">
      window.onpaint = loadParams();
  </script>
</body>

</html>