<html lang="en">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="AFRsEtZN5MINgoKVUNig-AHayYC86rqIOARWtiC09wY" name="google-site-verification" />
    <title>Website Questionnaire Form Template | Jotform</title>
    <meta content="index,follow" name="robots" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        name="description" />
    <meta content="website survey questionnaire,ecommerce survey form,website survey form,ecommerce questionnaire"
        name="keywords" />
    <meta content="en_us" property="og:locale" />
    <meta content="Website Questionnaire Form Template | Jotform" property="og:title" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        property="og:description" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        property="og:image" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        property="og:image:secure_url" />
    <meta content="Jotform" property="og:site_name" />
    <meta content="https://www.jotform.com/form-templates/website-survey-questionnaire-form" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="@jotform" name="twitter:site" />
    <meta content="https://www.jotform.com/form-templates/website-survey-questionnaire-form" name="twitter:url" />
    <meta content="Website Questionnaire Form Template | Jotform" name="twitter:title" />
    <meta
        content="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        name="twitter:image" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="@jotform" name="twitter:creator" />
    <meta
        content="The Questionnaire Survey Template allows collecting instant feedback, evaluation and suggestions from users about your website, products and services. Many available tables, drop down menus, incorporate widgets can allows for more"
        name="twitter:description" />
    <meta content="true" name="jotform:localization" />
    <link crossorigin=""
        href="https://files.jotform.com/jotformapps/website-survey-questionnaire-form-70cdfbab4ad90940492ae4e1e77af8a9-classic.png"
        rel="image_src" />
    <link crossorigin="" href="https://www.jotform.com/form-templates/website-survey-questionnaire-form"
        rel="canonical" />
    <link crossorigin="" href="https://www.google-analytics.com/" rel="preconnect" />
    <link crossorigin="" href="https://cms.jotform.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.gravatar.com/" rel="preconnect" />
    <link crossorigin="" href="https://use.typekit.net/" rel="preconnect" />
    <link crossorigin="" href="https://s3.amazonaws.com/jotformAvatars" rel="preconnect" />
    <link crossorigin="" href="https://files.jotform.com/" rel="preconnect" />
    <link crossorigin="" href="https://cdn.jotfor.ms/" rel="preconnect" />
    <link crossorigin="" href="https://cdn01.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdn02.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://cdn03.jotfor.ms/" rel="dns-prefetch" />
    <link crossorigin="" href="https://i0.wp.com/" rel="preconnect" />
    <link crossorigin="" href="https://connect.facebook.net/" rel="preconnect" />
    <link crossorigin="" href="https://stats.g.doubleclick.net/" rel="preconnect" />
    <link crossorigin="" href="https://polyfill.io/" rel="preconnect" />
    <link crossorigin="" href="https://browser.sentry-cdn.com/" rel="preconnect" />
    <link crossorigin="" href="https://apis.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.facebook.com/" rel="preconnect" />
    <link crossorigin="" href="https://www.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://accounts.google.com/" rel="preconnect" />
    <link crossorigin="" href="https://p.typekit.net/" rel="preconnect" />
    <link crossorigin="" href="https://events.jotform.com/" rel="preconnect" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Book.woff2"
        importance="low" rel="preload" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Medium.woff2"
        importance="low" rel="preload" />
    <link as="font" crossorigin="" href="https://cdn.jotfor.ms/fonts/circular/fonts/Circular-Bold.woff2"
        importance="low" rel="preload" />
    <link href="{{ url_for('static', filename= 'site-logical.css') }}" rel="stylesheet"
        type="text/css" />

    <meta
        content="A751Xsk4ZW3DVQ8WZng2Dk5s3YzAyqncTzgv+VaE6wavgTY0QHkDvUTET1o7HanhuJO8lgv1Vvc88Ij78W1FIAAAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"
        http-equiv="origin-trial" />


    <link href="./Website Questionnaire Form Template _ Jotform_files/style" id="googleidentityservice" media="all"
        rel="stylesheet" type="text/css" />
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Avenir+Next&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename= 'script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesIndex.css') }}">
  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #60AD5E;
    }
  </style>

</head>

<body>
  <div aria-label="Website Questionnaire Form"
        class="modal template-detail fixed top-0 left-0 lg:py-5 overflow-hidden w-full h-full bg-navy-700 bg-opacity-70"
        data-container="form-modal" data-form-id="21123284233442"
        >
        <button aria-label="Close"
            onclick="closeForm()"
            class="close-wp locale-data-aria-label absolute color-gray-100 lg:color-white text-xs opacity-70 hover:opacity-100 duration-300 right-4 top-3 lg:top-2 z-7"
            tabindex="0">
            <div class="close-icon w-7 sm:w-11 h-7 sm:h-11"><svg class="w-full h-full" fill="none" viewbox="0 0 24 24">
                    <path d="M17.25 6.75L6.75 17.25" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M6.75 6.75L17.25 17.25" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                </svg></div>
            <p class="-mt-1 hidden lg:block">ESC</p>
        </button>
        <div class="modal-wrapper max-w-lg mx-auto lg:px-24 h-full">
            <div class="template-detail-wrapper h-full relative">
                <div class="bg-white overflow-y-auto overflow-x-visible max-h-full h-full lg:h-auto radius h-full">
                    <div class="outline-area h-auto" id="outlineArea">
                        <div class="modal-content w-full h-full min-h-sm pb-24 lg:pb-0">
                            <div class="modal-template-area relative">
                                <div class="template-loader" style="display: none;">
                                    <div class="template-loader-item"></div>
                                    <div class="template-loader-item"></div>
                                    <div class="template-loader-item"></div>
                                </div>
                                <object class="w-full h-full min-h-sm"
                                    data="{{ url_for('static', filename= 'classic&nofs.html') }}"
                                    id="formPreviewArea" style="height: 100%;" tabindex="-1" type="text/html"
                                    width="100%">Website Questionnaire Form</object>
                            </div>
                            <div
                                class="cta-controls sticky lg:static left-0 right-0 bottom-0 bg-white border-t border-t-navy-50 py-1 lg:py-0 lg:border-t-0 flex justify-center -mb-24 lg:mb-0 z-1">
                                <button
                                    class="cta-usetemplate lg:hidden w-full min-w-44 max-w-68 bg-green-400 color-white h-12 hover:bg-green-300 duration-300 mx-1 px-4 radius"
                                    data-action-target="FormModalView" data-template="21123284233442"
                                    data-trigger="use-form-template">Use
                                    Template</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer block lg:hidden px-4 pb-4 text-sm"><a class="back-link flex gap-2"
                            href="https://www.jotform.com/form-templates/category/questionnaire"
                            title="Questionnaire Templates"><svg height="16px" version="1.1" viewbox="0 0 16 16"
                                width="16px" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                                    <g transform="translate(-8.000000, -2012.000000)">
                                        <circle cx="16" cy="2020" fill="#CFD8DC" r="8"></circle>
                                        <path
                                            d="M17.7071068,2022.29289 C18.0976311,2022.68342 18.0976311,2023.31658 17.7071068,2023.70711 C17.3165825,2024.09763 16.6834175,2024.09763 16.2928932,2023.70711 L13.2928932,2020.70711 C12.9023689,2020.31658 12.9023689,2019.68342 13.2928932,2019.29289 L16.2928932,2016.29289 C16.6834175,2015.90237 17.3165825,2015.90237 17.7071068,2016.29289 C18.0976311,2016.68342 18.0976311,2017.31658 17.7071068,2017.70711 L15.4142136,2020 L17.7071068,2022.29289 Z"
                                            fill="#08224C" fill-rule="nonzero"></path>
                                    </g>
                                </g>
                            </svg><span>Questionnaire Templates</span></a></div>
                </div>
            </div>
        </div>
    </div>
  <div class=e34_31>
    <div class=e34_42>
      <div class=e34_43>
        <div class="e34_44"></div>
        <div class="e34_45"></div>
      </div>
      <div class=e34_168>
        <div class=e34_73>
          <div class=e34_74>
            <div class="e34_75"></div>
            <span class="material-symbols-outlined">
              search
              </span>
          </div>
          <div class="autocomplete" style="width:300px;">

          </div>
          <span class="e34_77">
            <input class="selected-value custom-input" placeholder="Desired State" type="text" id="myInput" name="myCountry">
            <br><br>
          </span>
        </div>

        
        <div class=e34_66>
          <select name="" class="dropdown-select" onchange="myFunction('e34_66')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_67>
            <div class="e34_68"></div>
            <span class="material-symbols-outlined">
              school
              </span>
          </div>
          
          <div class=e34_70>
            
            <span class="selected-value e34_71">A+</span>
            <span class="e34_72">Education</span>
            
          </div>
          
        </div>
        <div class=e34_58>
          <select name="" class="dropdown-select" onchange="myFunction('e34_58')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_59>
            <div class="e34_60"></div>
            <div class=e34_61>
              <span class="material-symbols-outlined">
                health_and_safety
                </span>
            </div>
          </div>
          <div class=e34_63>
            <span class="selected-value e34_64">A+</span>
            <span class="e34_65">Safety</span>
          </div>
        </div>
        <div class=e34_50>
          <select name="" class="dropdown-select" onchange="myFunction('e34_50')">
            <option value="400,000-500,000">400,000-700,000</option>
            <option value="700,000-900,000">700,000-900,000</option>
            <option value="900,000-1,200,000">900,000-1,200,000</option>
            <option value="1,200,000-1,500,000">1,200,000-1,500,000</option>
            <option value="1,500,000-1,800,000">1,500,000-1,800,000</option>
            <option value="1,800,000-2,800,000">1,800,000-2,800,000</option>
            <option value="2,800,000+">2,800,000+</option>
          </select>
          <div class=e34_51>
            <div class="e34_52"></div>
            <div class=e34_53>
              <span class="material-symbols-outlined">
                payments
                </span>
            </div>
          </div>
          <div class=e34_55>
            <span class="selected-value e34_56">800,000-1,000,000</span>
            <span class="e34_57">Price Range</span>
          </div>
        </div>
        <div onclick="searchBtn()" class=e34_48><span class="e34_49">Search</span></div>
      </div>
      <div class=e34_78><span class="e34_79">67+ neighboorhoods</span><span class="e34_80">Most accurate
          algorithm</span><span class="e34_81">125+ real estate agents</span>
          <span class="material-symbols-outlined bubble">
            done
            </span>
        <div class="e34_83"><span class="material-symbols-outlined bubble">
          group
          </span></div>
        
        <div class=e34_84>
          <span class="material-symbols-outlined bubble">
            bubble_chart
            </span>
        </div>
      </div><span class="e34_89">Neighbourhood Finder - Find, Compare & Sign</span>
      <div class=e34_90><span class="e34_91">LaCasa.com</span>
        <div class=e34_92><span class="e34_93">EN</span>
          <div class="e34_94"></div>
        </div>
        <div class=e34_95><span class="e34_97">Sign-in</span></div>
      </div>
    </div>
    <div class=e34_32>
      <div class="e34_33"></div>
      <div class=e34_34>
        <div class="e34_35"></div>
        <div class="e34_36"></div>
        <div class="e34_37"></div>
        <div class="e34_38"></div>
        <div class="e34_39"></div>
        <div class="e34_40"></div>
      </div><span class="e34_41">Connecting you to the best real estate agencies</span>
    </div>
  </div>
  <script>
    var states = ["Los Angeles, CA", ];
    autocomplete(document.getElementById("myInput"), states);
    </script>
    <script type="text/javascript">
      window.onpaint = loadParams();
  </script>
</body>

</html>