<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Avenir+Next&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename= 'script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesIndex.css') }}">
  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #60AD5E;
    }
  </style>

</head>

<body>
  <div class=e34_31>
    <div class=e34_42>
      <div class=e34_43>
        <div class="e34_44"></div>
        <div class="e34_45"></div>
      </div>
      <div class=e34_168>
        <div class=e34_73>
          <div class=e34_74>
            <div class="e34_75"></div>
            <span class="material-symbols-outlined">
              search
              </span>
          </div>
          <div class="autocomplete" style="width:300px;">

          </div>
          <span class="e34_77">
            <input class="selected-value custom-input" placeholder="Desired State" type="text" id="myInput" name="myCountry">
            <br><br>
          </span>
        </div>

        
        <div class=e34_66>
          <select name="" class="dropdown-select" onchange="myFunction('e34_66')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_67>
            <div class="e34_68"></div>
            <span class="material-symbols-outlined">
              school
              </span>
          </div>
          
          <div class=e34_70>
            
            <span class="selected-value e34_71">A+</span>
            <span class="e34_72">Education</span>
            
          </div>
          
        </div>
        <div class=e34_58>
          <select name="" class="dropdown-select" onchange="myFunction('e34_58')">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="B-">B-</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
            <option value="C-">C-</option>
            <option value="D+">D+</option>
          </select>
          <div class=e34_59>
            <div class="e34_60"></div>
            <div class=e34_61>
              <span class="material-symbols-outlined">
                health_and_safety
                </span>
            </div>
          </div>
          <div class=e34_63>
            <span class="selected-value e34_64">A+</span>
            <span class="e34_65">Safety</span>
          </div>
        </div>
        <div class=e34_50>
          <select name="" class="dropdown-select" onchange="myFunction('e34_50')">
            <option value="400,000-500,000">400,000-700,000</option>
            <option value="700,000-900,000">700,000-900,000</option>
            <option value="900,000-1,200,000">900,000-1,200,000</option>
            <option value="1,200,000-1,500,000">1,200,000-1,500,000</option>
            <option value="1,500,000-1,800,000">1,500,000-1,800,000</option>
            <option value="1,800,000-2,800,000">1,800,000-2,800,000</option>
            <option value="2,800,000+">2,800,000+</option>
          </select>
          <div class=e34_51>
            <div class="e34_52"></div>
            <div class=e34_53>
              <span class="material-symbols-outlined">
                payments
                </span>
            </div>
          </div>
          <div class=e34_55>
            <span class="selected-value e34_56">800,000-1,000,000</span>
            <span class="e34_57">Price Range</span>
          </div>
        </div>
        <div onclick="searchBtn()" class=e34_48><span class="e34_49">Search</span></div>
      </div>
      <div class=e34_78><span class="e34_79">67+ neighboorhoods</span><span class="e34_80">Most accurate
          algorithm</span><span class="e34_81">125+ real estate agents</span>
          <span class="material-symbols-outlined bubble">
            done
            </span>
        <div class="e34_83"><span class="material-symbols-outlined bubble">
          group
          </span></div>
        
        <div class=e34_84>
          <span class="material-symbols-outlined bubble">
            bubble_chart
            </span>
        </div>
      </div><span class="e34_89">Neighbourhood Finder - Find, Compare & Sign</span>
      <div class=e34_90><span class="e34_91">LaCasa.com</span>
        <div class=e34_92><span class="e34_93">EN</span>
          <div class="e34_94"></div>
        </div>
        <div class=e34_95><span class="e34_97">Sign-in</span></div>
      </div>
    </div>
    <div class=e34_32>
      <div class="e34_33"></div>
      <div class=e34_34>
        <div class="e34_35"></div>
        <div class="e34_36"></div>
        <div class="e34_37"></div>
        <div class="e34_38"></div>
        <div class="e34_39"></div>
        <div class="e34_40"></div>
      </div><span class="e34_41">Connecting you to the best real estate agencies</span>
    </div>
  </div>
  <script>
    var states = ["Los Angeles, CA", ];
    autocomplete(document.getElementById("myInput"), states);
    </script>
</body>

</html>